<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="./index.html"><img src="../public/images/icons8-home-96.png"></a>
            <h1>Gallery</h1>
            <a href="./settings.html"><img src="../public/images/icons8-settings-96.png"></a>
        </div>
        <div id="main">
            <div id="galleryGrid">
                <div class="galleryItem">
                    <img src="../public/images/icons8-gallery-96.png" alt="Gallery Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-home-96.png" alt="Home Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-settings-96.png" alt="Settings Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-gallery-96.png" alt="Gallery Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-home-96.png" alt="Home Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-settings-96.png" alt="Settings Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-gallery-96.png" alt="Gallery Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-home-96.png" alt="Home Icon">
                </div>
                <div class="galleryItem">
                    <img src="../public/images/icons8-settings-96.png" alt="Settings Icon">
                </div>
            </div>
        </div>
    </div>
</body>
</html>