<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoFrame</title>
    <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
    <div id="header">
        <a href="./gallery.html"><img src="../public/images/icons8-gallery-96.png"></a>
        <h1>PhotoFrame</h1>
        <a href="./settings.html"><img src="../public/images/icons8-settings-96.png"></a>
    </div>
</body>
</html>