<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoFrame</title>
    <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="./gallery.html"><img src="../public/images/icons8-gallery-96.png"></a>
            <h1>PhotoFrame</h1>
            <a href="./settings.html"><img src="../public/images/icons8-settings-96.png"></a>
        </div>
        <div id="main">
            <form id="imageSelect" action="#">
                <label for="image">Select an image:</label>
                <div>
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>